/* this is a style for body*/
body{
    background-color: rgb(204, 198, 245);
    font-size: large;
}
/* this is a style for paragraphs*/
p {
    text-align: center;
    font-style:oblique;

    
}

p.special-lorem{ 
    background-image: url(img/main-bora-bora-cruises.jpg);
    font-weight: 700 ;
   
}

h1{
    text-align: center;
    color: rgb(83, 46, 139);
}

h2{
    text-align: center;
    color:rgb(147, 47, 147);
  
}

.list{
    color:brown;
    font: bolder;

}

#song {
    color:darkred;


}

#p.unique{
    color: navy;

}

